.title-1{
    font-family: $font-family-main, cursive;
}

.title-2{
    font-family: $font-family-secondary, sans-serif;
}

.title-1, .title-2{
    color: white;
    margin: 0;
    text-align: center;
}